<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzc.intern.mapper.LearnInfoMapper">
	<insert id="addLearn" 
		parameterType="com.zzc.intern.entity.LearnInfo">
		INSERT into learn_info
		VALUES(null,#{learnElementary},#{learnStage},1,#{courseId})
	</insert>
	<select id="findAllLearn"
		resultType="com.zzc.intern.entity.LearnInfo">
		SELECT
		learn_id,learn_elementary,learn_stage,course_id
		from
		learn_info where
		learn_status=1 limit #{page},#{size}
	</select>
	<select id="findByid"
		resultType="com.zzc.intern.entity.LearnInfo">
		SELECT
		learn_id,learn_elementary,learn_stage,course_id
		from
		learn_info
		where
		learn_id=#{learnId}
	</select>
	<select id="findByCourseId"
		resultType="com.zzc.intern.entity.LearnInfo">
		SELECT
		learn_id,learn_elementary,learn_stage
		from
		learn_info
		where
		course_id=#{courseId}
	</select>
	<update id="updateLearn"
		parameterType="com.zzc.intern.entity.LearnInfo">
		UPDATE learn_info set
		learn_elementary=#{learnElementary},learn_stage=#{learnStage},course_id=#{courseId} where learn_id=#{learnId}
	</update>
	<update id="delLearn">
		update learn_info set learn_status=0 where learn_id=#{learnId}
	</update>
	
</mapper>
