<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzc.intern.mapper.TraineeSubsidyRelMapper">
	<select id="findTraineeSubsidyRels"
		resultType="com.zzc.intern.entity.TraineeSubsidyRel">
		select t_id,s_id
		from trainee_subsidy_rel where s_id=#{sId}
	</select>
</mapper>
